# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=your_clerk_public_key

# API Configuration
VITE_USE_MOCKS=false # true or false (Recommended false (to use Database storage instead of local storage))
VITE_API_URL=http://localhost:5000/api # (local server to run this app on browser)
