# Clerk Authentication
VITE_CLERK_PUBLISHABLE_KEY=your_clerk_public_key

# API Configuration
VITE_USE_MOCKS=true # true or false (Recommended true)
VITE_API_URL=http://localhost:5000/api # (local server to run this app on browser)
