services:
  - type: web
    name: microstore-backend
    env: docker
    rootDir: backend
    plan: free
    envVars:
      - key: PORT
        value: 5000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
